
<ion-header>

  <ion-navbar>
    <ion-title>Online Payment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class = "background">
  <p style="font-size: 15px" text-center>Pay {{amount}}</p>
  <p style="font-size: 10px" text-center>{{email}}</p>
    <div padding>
        <ion-segment [(ngModel)]="paymentMethod">
          <ion-segment-button value="Card">
            Use Card
          </ion-segment-button>
          <ion-segment-button value="Bank">
            Use Bank
          </ion-segment-button>
        </ion-segment>
      </div>
      
      <div [ngSwitch]="paymentMethod">
        <ion-list *ngSwitchCase="'Card'">

            <ion-item style="background-color:#ffffff;" >
                <ion-label color="primary" stacked>Card Number</ion-label>
                <ion-input type="number" placeholder="0000 0000 0000 0000" [(ngModel)]="cardNumber"></ion-input>
              </ion-item>
        
              <ion-item style="background-color:#ffffff">
                  <ion-label color="primary" stacked>Expiry Date</ion-label>
                  <ion-input type="month" placeholder="01/20" [(ngModel)]="expiryDate"></ion-input>
              </ion-item>

              <ion-item style="background-color:#ffffff;">
                  <ion-label color="primary" stacked>CVV</ion-label>
                  <ion-input type="number" [(ngModel)]="cvv" ></ion-input>
              </ion-item>
            
              <ion-item style="text-align:center;">
                  <button ion-button [disabled]="disabled" small round ion-button outline color="primary" >Secured with Paystack</button>
              </ion-item>
          <br>
          <button (click)="paywithCard()" small block ion-button outline color="primary">Pay {{amount}}</button>

          <br>
          <img src="../../assets/icon/cardtest.PNG" alt="cardtest">
        </ion-list>
      
        <ion-list *ngSwitchCase="'Bank'">

          

          <div *ngIf="verifyBank">
              <ion-item class="input">
                  <ion-label color="dark">Choose Bank</ion-label>
                  <ion-select [(ngModel)]="bank">
                    <ion-option value="access">Access Bank</ion-option>
                    <ion-option value="diamond">Diamond Bank</ion-option>
                    <ion-option value="fidelity">Fidelity Bank</ion-option>
                    <ion-option value="fcmb">First City Monument Bank</ion-option>
                    <ion-option value="gtb">Guarantee Trust Bank</ion-option>
                    <ion-option value="zenith">Zenith Bank</ion-option>
                  </ion-select>
                </ion-item>
      
                <ion-item>
                    <ion-label color="primary" stacked>Account Number</ion-label>
                    <ion-input type="number" maxlength="10"  [(ngModel)]="accountNumber"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label color="primary" stacked>Date of Birth</ion-label>
                    <ion-input type="date"></ion-input>
                </ion-item>
              <button (click)="verifyAccount()" small block ion-button outline color="errand">Verify Account</button>
          </div>

        <div *ngIf="duringVerify">
            <ion-item>
                <ion-label color="primary" stacked>OTP</ion-label>
                <ion-input type="number" [(ngModel)]="otp1"></ion-input>
            </ion-item>
            <button (click)="confirmAccount()" small block ion-button outline color="errand">Confirm Account</button>
          </div>

        <div *ngIf="afterVerified">
          <ion-item style="background-color:#ffffff;">
              <ion-label color="primary" stacked>Enter Token</ion-label>
              <ion-input type="number" [(ngModel)]="otp2"></ion-input>
          </ion-item>
          <button (click)="paywithBank()" small block ion-button outline color="errand">Pay {{amount}}</button>
        </div>

          <br>
          <button ion-button [disabled]="disabled" small round ion-button outline color="primary" style="text-align:center;">Secured with Paystack</button>
          <br>

          <img src="../../assets/icon/banktest.PNG" alt="banktest">
        </ion-list>
      </div>
</ion-content>