
<ion-header>

  <ion-navbar style="text-align: center;">
    <ion-title>Confirm PayLater</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header text-center>
      Tracking ID: LA1504065192923
    </ion-list-header>
    <ion-item>
        <p text:justify>Payment method: PAYLATER</p>
    </ion-item>
    <ion-item>
        <p text:justify>Bill: {{amountToPayLater}}</p>
    </ion-item>
    <ion-item>
        <p text:justify>Processing Fee: 0</p>
    </ion-item>
    <ion-item>
        <p text:justify>Email: {{emailToPayLater}}</p>
    </ion-item>
    <ion-item>
        <p text:justify>Phone: {{phoneNumberToPayLater}}</p>
    </ion-item>
  </ion-list>

  <div style="text-align: center;">
    <button ion-button small color="errand" (click)="goToPay(amountT, email)">Pay {{amountToPayLater}} later</button>
    <button ion-button small color="danger" (click)="goToHome()">
        <ion-icon name="trash"></ion-icon>Cancel</button>
  </div>
  

</ion-content>
