<ion-header>
  <ion-navbar color="header">
    <ion-title><img alt="logo" height="40" src="../../assets/icon/logo-white.png" ></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="background">

    <ion-card>
      <ion-card-header>Read Me</ion-card-header>
        <ion-card-content>
          <p text-justify>
            Our "Customers" should be aware we run an open marketplace with a flexible shipping policy.
            It is prohibited to attempt or request service of our Partners for illegal errands or transport
            illegal goods. Such transactions will be cancelled with "NO REFUND". A request with invalid route/
            pricing or contact number might not be fulfilled. Please, complete this with care.
          </p>
        </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <p>from: {{from1}}</p>
        <p>to: {{to1}}</p>
        <p>amount: {{amount1}}</p>
        <p>using: {{using1}}</p>
        <p>processing: {{processing1}}</p>
        <p>mode: {{mode1}}</p>
        <p>weight range: {{weight1}}</p>
        <p>important: {{important1}}</p>

        <div style="text-align:center;">
            <button (click)="errand1(from1,to1,amount1)" ion-button round small color="errand">
            <ion-icon name="checkmark"></ion-icon>Select</button>
          </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <p>from: {{from2}}</p>
        <p>to: {{to2}}</p>
        <p>amount: {{amount2}}</p>
        <p>using: {{using2}}</p>
        <p>processing: {{processing2}}</p>
        <p>mode: {{mode2}}</p>
        <p>weight range: {{weight2}}</p>
        <p>important: {{important2}}</p>

        <div style="text-align:center;">
            <button (click)="errand2(from2,to2,amount3)" ion-button round small color="errand">
            <ion-icon name="checkmark"></ion-icon>   Select</button>
          </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <p>from: {{from3}}</p>
        <p>to: {{to3}}</p>
        <p>amount: {{amount3}}</p>
        <p>using: {{using1}}</p>
        <p>processing: {{processing3}}</p>
        <p>mode: {{mode3}}</p>
        <p>weight range: {{weight3}}</p>
        <p>important: {{important3}}</p>

        <div style="text-align:center;">
            <button (click)="errand3(from3,to3,amount3)" ion-button round small color="errand">
            <ion-icon name="checkmark"></ion-icon>   Select</button>
          </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <p>from: {{from4}}</p>
        <p>to: {{to4}}</p>
        <p>amount: {{amount4}}</p>
        <p>using: {{using4}}</p>
        <p>processing: {{processing4}}</p>
        <p>mode: {{mode4}}</p>
        <p>weight range: {{weight4}}</p>
        <p>important: {{important4}}</p>

        <div style="text-align:center;">
            <button (click)="errand4(from4,to4,amount4)" ion-button round small color="errand">
            <ion-icon name="checkmark"></ion-icon>   Select</button>
          </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <p>from: {{from5}}</p>
        <p>to: {{to5}}</p>
        <p>amount: {{amount5}}</p>
        <p>using: {{using5}}</p>
        <p>processing: {{processing5}}</p>
        <p>mode: {{mode5}}</p>
        <p>weight range: {{weight5}}</p>
        <p>important: {{important5}}</p>

        <div style="text-align:center;">
            <button (click)="errand5(from5,to5,amount5)" ion-button round small color="errand">
            <ion-icon name="checkmark"></ion-icon>   Select</button>
          </div>
        
      </ion-card-content>
    </ion-card>
    
</ion-content>
