
<ion-header >
  <ion-navbar color="header">
    <ion-title>Partner Registration</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="background">

    <p style = "color:#30bbb1" text-center>
        Become a Partner today
    </p>

  <div class = "fillPartnerForm">
      <ion-item>
        <ion-label stacked>Business Name</ion-label>
        <ion-input placeholder="e.g BeeQui Logistics"></ion-input>
      </ion-item>

      <ion-item class="input">
          <ion-label stacked>Contact First Name</ion-label>
          <ion-input placeholder="e.g John"></ion-input>
      </ion-item>

      <ion-item class="input">
          <ion-label stacked>Contact Last Name</ion-label>
          <ion-input placeholder="e.g Doe"></ion-input>
      </ion-item>

      <ion-item class="input">
            <ion-label stacked>Phone Number</ion-label>
            <ion-input placeholder="e.g 0802 123 4567"></ion-input>
      </ion-item>

      <ion-item class="input">
            <ion-label stacked>Country of Operation</ion-label>
            <ion-input placeholder="NG"></ion-input>
      </ion-item>

      <ion-item class="input">
            <ion-label stacked>Email</ion-label>
            <ion-input type="email" 
            pattern = "[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*"
            placeholder="e.g johndoe@gmail.com"></ion-input>
      </ion-item>

      <ion-item class="input">
            <ion-label stacked>Password</ion-label>
            <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item class="input">
            <ion-label stacked>Confirm Password</ion-label>
            <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label>Agree to our terms</ion-label>
          <ion-checkbox color="dark" checked="false"></ion-checkbox>
        </ion-item>

        <div style="text-align:center;">
            <button ion-button small color="errand">Sign up as a Partner</button>
        </div>
  </div>
</ion-content>
