<ion-header>
  <ion-navbar>
    <ion-title>contact</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="background">
  <p text-right style="font-size: 10px;color: #FFFFFF;">For more information or business 
    enquiry, shoot us a mail or call :</p>

  <p text-right style="font-size: 20px;color: #FFFFFF;">Our Contacts</p>

  <hr style="color: #FFFFFF;">

  <p text-right style="font-size: 10px;color: #FFFFFF;">
      <ion-icon name="map"></ion-icon> Somewhere awesome in Lagos, Nigeria.<br>
      <ion-icon name="mail"></ion-icon> hello@errandplace.com<br>
      <ion-icon name="phone"></ion-icon> +234 01 291 7303
  </p>
  
</ion-content>
