<ion-header>
  
    <ion-navbar color="header">
      <ion-title><img alt="logo" height="40" src="../../assets/icon/logo-white.png" ></ion-title>
    </ion-navbar>
  
  </ion-header>

<ion-content padding class="background">

  <div text-center >
    <button class="smallbutton" (click)="sizeGuide()" ion-button small color="light">Size Guide</button>
    
    <button class="smallbutton" (click)="howitWorks()" ion-button small color="light">How it Works</button>
  
    <button class="smallbutton" ion-button small color="light" (click)='becomePartner()'>Become a Partner</button>
  
    <br>
    <br>
  </div>

  <button ion-button (click)="searchClick()" [color]="searchColor">SEARCH</button>

  <button ion-button (click)="trackClick()" [color]="trackColor">TRACKING</button>

  <div *ngIf="searchClicked" #searchdiv>
      <ion-item class="input" small>
        <ion-label color="dark" stacked>Source</ion-label>
        <ion-input placeholder="State or area near you" [(ngModel)]="sourceInput"></ion-input>
      </ion-item>
    
        <ion-item class="input">
          <ion-label color="dark" stacked>Destination</ion-label>
          <ion-input placeholder="State or area near you" [(ngModel)]="destinationInput"></ion-input>
        </ion-item>
    
        <ion-list>
          <ion-item class="input">
            <ion-label color="dark">Size</ion-label>
            <ion-select [(ngModel)]="size">
              <ion-option value="parcel">Parcel</ion-option>
              <ion-option value="ssi">Small Sized Items</ion-option>
              <ion-option value="msi">Medium Sized Items</ion-option>
              <ion-option value="rav">Require a vehicle</ion-option>
              <ion-option value="mrav">Might require a van</ion-option>
              <ion-option value="dst">Dedicated small truck</ion-option>
              <ion-option value="dlv">Dedicated Long Vehicle</ion-option>
              <ion-option value="sacs">Ship and Cargo Shipping</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Exact Locations?</ion-label>
            <ion-toggle color="dark" checked="false"></ion-toggle>
          </ion-item>

          <div style="text-align:right;">
              <button ion-button (click)='chooseErrand()' color="errand">GO</button>
            </div>
        </ion-list>
  </div>

  <div *ngIf="trackClicked" #trackdiv>
    <ion-item class="input">
        <ion-label color="primary" floating >Tracking ID</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <div>
        <p style="font-size: 10px;color: #FFFFFF;" >
            <img alt="report" height="13" src="../../assets/icon/report.PNG"> <br>
            Need to report? Send a mail to (admin@errandplace.com)<br>
            Quote the Reference ID and give details of the issue
          </p>
          <div style="text-align:right;">
            <button ion-button color="errand">TRACK</button>
          </div>
      </div>
      
  </div>

    <p text-right style="font-size: 20px;color: #FFFFFF;">Errand Place</p>
    <p text-right style="font-size: 10px;color: #FFFFFF;">
      <ion-icon name="checkmark"></ion-icon> Technology driven Logistics <br>
      <ion-icon name="checkmark"></ion-icon> Automated Notifications <br>
      <ion-icon name="checkmark"></ion-icon> EPR and Analytics <br>
      <ion-icon name="checkmark"></ion-icon> Robust tracking system <br>
      <ion-icon name="checkmark"></ion-icon> Planning and Forecasting <br>
      <ion-icon name="checkmark"></ion-icon> Single API for all <br>
      <ion-icon name="checkmark"></ion-icon> Payment Integration <br>
      <ion-icon name="checkmark"></ion-icon> Secured & Safe
    </p>

    <div style="text-align:center;">
      <button ion-button small outline color="errand">Register your business</button>
    </div>
    <br>

    <div style="background-color:#ffffff;">
        <div padding>
            <p style="font-size: 20px; color:#30bbb1;">
                <img alt="bpg" height="25" src="../../assets/icon/bpg.PNG"> Best Price Guarantee
            </p>
            <p text-justify style="font-size: 10px">Reliable premium logistics and errand framework that is reliable at 
              affordable prices. We ensure you get the right service while you focus on other aspects of the business.</p>    
        </div>
        
        <div padding>
            <p style="font-size: 20px; color:#30bbb1;">
                <img alt="cs" height="25" src="../../assets/icon/cs.PNG"> Combine & Save
            </p>
            <p text-justify style="font-size: 10px">Multiple provider accessibility for your business while you save cost,
              optimize profit and easy business process. Single channel for all kind of errands service providers.</p>
        </div>
    </div>
    

    <div>
      <div>
        <p style="font-size: 14px; color:#30bbb1;">Our Core</p>
        <p text-justify style="font-size: 10px;color: #FFFFFF;"> Connecting shipping, delivery and logistic firms with small businesses that struggle to get reliable and 
          affordable shipping contracts for their goods. We connect them locally and internationally. We work with competent firms in the industry with 
          standard and state of the art equipment and facilities to deliver the best transport experience at the stipulated time frame. In addition we 
          provide FREE hybrid technology to any kind of logistics businesses to expand.</p>
      </div>
      <div>
          <p style="font-size: 14px; color:#30bbb1;" >Customers</p>
          <p text-justify style="font-size: 10px;color: #FFFFFF;"> Our clients are of utmost importance to us, we provide range of alternatives to transport items including 
            agricultural and food produce from one place to another. We use the finest quality required to transport goods at a reasonable price. We have a 
            competitive community, customers have a variety of partners to choose from and total control on which partner to use on-demand.</p>
      </div>
      <div>
          <p style="font-size: 14px; color:#30bbb1;">Corporate</p>
          <p text-justify style="font-size: 10px;color: #FFFFFF;"> Errand place provides a single channel of communication (API) with as many logistics companies as possible. 
            Clients can conveniently integrate to as many shipping partner as possible on the go without stress. To get more information about our Corporate 
            developer’s API and tools, kindly contact hello@errandplace.com.</p>
      </div>
      <div>
          <p style="font-size: 14px; color:#30bbb1;" >Partners</p>
          <p text-justify style="font-size: 10px; color: #FFFFFF"> No service rendering company is small or at infancy. Grow your business with us, reach a wider audience 
            with our marketing experts, and make huge profit with our finance analysts. We manage the technologies you require from point A to Z so you can solely focus on providing quality, efficient and effective services to customers. Become a partner today.</p>
      </div>
    </div>
    <div style="text-align: center;">
      <button ion-button icon-only color="errand" class="mediumbutton" small>
          <ion-icon name="logo-facebook"></ion-icon>
        </button>
        <button ion-button icon-only color="errand" class="mediumbutton" small>
          <ion-icon name="logo-twitter"></ion-icon>
        </button>
        <button ion-button icon-only color="errand" class="mediumbutton" small>
          <ion-icon name="logo-instagram"></ion-icon>
        </button>
    </div>
  

    <div style="text-align:center;">
      <button ion-button class="mediumbutton" small clear color="errand" (click)='becomePartner()'>Become a partner</button>
      <button ion-button class="mediumbutton" small clear color="errand">Partner's Login</button>
      <button ion-button class="mediumbutton" small clear color="errand">Developers</button>
      <button ion-button class="mediumbutton" small clear color="errand">Our Teams</button>
      <button ion-button class="mediumbutton" small clear color="errand">Jobs</button>
      <button ion-button class="mediumbutton" small clear color="errand">Terms and Conditions</button>
      <button ion-button class="mediumbutton" small clear color="errand" (click)='goToContact()'>Contact</button>
    </div>

  </ion-content>