page-home {
    .smallbutton{
        font-size:0.5em;
    }
    .background{
        background-image: url("../../assets/icon/background.jpg");
    }
    .mediumbutton{
        font-size:0.6em;
    }
}