
<ion-header>

  <ion-navbar>
    <ion-title>Confirm Pay Online</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-list-header text-center>
          Tracking ID: LA1504065192923
        </ion-list-header>
        <ion-item>
            <p text:justify>Payment method: PAYLATER</p>
        </ion-item>
        <ion-item>
            <p text:justify>Bill: {{amountToPayOnline}}</p>
        </ion-item>
        <ion-item>
            <p text:justify>Processing Fee: 0</p>
        </ion-item>
        <ion-item>
            <p text:justify>Email: {{emailToPayOnline}}</p>
        </ion-item>
        <ion-item>
            <p text:justify>Phone: {{phoneNumberToPayOnline}}</p>
        </ion-item>
      </ion-list>
    
      <div style="text-align: center;">
        <button ion-button small color="errand" (click)="goToPay(amountToPayOnline, emailToPayOnline)">Pay {{amountToPayOnline}} Online</button>
        <button ion-button small color="danger" (click)="goToHome">
            <ion-icon name="trash"></ion-icon>Cancel</button>
      </div>
      
    
</ion-content>