<ion-content padding class = "success">
  <ion-card>
    <ion-card-header>
      <p style = "font-size: 20px; color:green" text-center>Success!</p>
    </ion-card-header>
    <ion-card-content>
      <ion-item style = "font-size: 15px; color:#ffffff" text-justify>
          <p> Your errand has been successfully confirmed<br>
          Check your email for more details.</p>
        </ion-item>
      <button ion-button block outline color="errand" (click)='goToHomePage()'>Click here to continue</button>
    </ion-card-content>
  </ion-card>
</ion-content>
