<ion-header>
  <ion-navbar>
    <ion-title>Choose Payment Type</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="background">
  <ion-card>
    <ion-card-header>
      <p style="color:#f53d3d;font-size:15px;" text-center>Pay {{amount}}</p>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <p text-center> <ion-icon name="model-s"></ion-icon> {{from}} <br> to <br> {{toErrand}} </p>
      </ion-item>

      <p text-justify style="color:#f53d3d; font-size:10px;">
        Please fill out all details accurately.</p>


        <ion-list>
            <ion-list inset >
                  <ion-item style="background-color:#222;" class="mediumInput">
                    <ion-label>Email</ion-label>
                    <ion-input [(ngModel)]="email" type="email"></ion-input>
                  </ion-item>
                
                  <ion-item style="background-color:#222;" class="mediumInput">
                    <ion-label>Phone No</ion-label>
                    <ion-input [(ngModel)]="phoneNumber" type="number"></ion-input>
                  </ion-item>
                </ion-list>

            <br>
        
            <p style="font-size:10px;" text-center> Pay Cash to Partner </p>
            <button (click)="payLater(amount,email,phoneNumber)" style="text-align:center;" small block ion-button outline color="errand">Pay Later</button>
        
            <br>
        
            <p style="font-size:10px;" text-center> Pay Online now with your bank or Card </p>
            <button (click)="payOnline(amount,email,phoneNumber)" small block ion-button outline color="errand">Pay Online</button>
        
        </ion-list>
          
      
      <div style="text-align:center;">
        <button (click)="cancel()" ion-button small color="danger">
        <ion-icon name="trash"></ion-icon>Cancel</button>
      </div>
    </ion-card-content>

  </ion-card>

</ion-content>